body {
  background: black;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 20px;
}
body a {
  color: inherit;
  text-decoration: none;
}
body a:hover {
  font-weight: 600;
}
header h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  margin-top: 10px;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main * {
  margin: 10px 0px;
}
main form {
  display: flex;
  flex-direction: column;
}
#number_value {
  width: 100px;
  padding: 10px;
  text-align: center;
}
#btn_guess,
#btn_reset {
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background: white;
  border: none;
}
#btn_guess:hover,
#btn_reset:hover {
  cursor: pointer;
}
#btn_guess:active,
#btn_reset:active {
  background-color: #dcdcdc;
}
#btn_reset {
  background: red;
}
#win_loss {
  font-weight: 600;
}
.text_red {
  color: red;
}
.text_green {
  color: green;
}
footer {
  margin-top: auto;
  margin-bottom: 10px;
}
